@{
    ViewBag.Title = "wiad z baga";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Being Feet is trendy!
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
    </li>

    <li class="two">
        <h5>a</h5>
    </li>

    <li class="three">
        <h5>b</h5>
    </li>
</ol>
